.main {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 15px 0;
    width: 100%;
    height: 100%;
    min-width: 800px;

}

.header {
    width: 100%;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F4F4F4;
    padding-bottom: 10px;
}

.logo__title {
    position: relative;
    font-weight: bold;
    bottom: 7px;
    left: 5px;
}


.actions__notification {
    margin-right: 12px;
}


.actions__settings {
    margin-right: 13px;
}

.actions__icon-ellipse {
    position: relative;
    bottom: 15px;
    left: 10px;
}


/*search button*/

.header__search {
    border: 0.5px solid rgb(245, 242, 242);
    display: inline-flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(248, 246, 246);
}

.search__txt {
    border: none;
    width: 400px;
    height: 25px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    background-color: transparent;
}

.search__btn {
    border: none;
    background-color: transparent;
}

.search__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.content-title__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.name__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


/* In process button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 4px 13px;
    font-size: 13px;

    border-radius: 4px;
    color: #62B452;
    background-color: #C7FFBE;
    text-decoration: none;
}


/* Add task button*/

.btn-task {
    display: inline-block;
    vertical-align: top;
    padding: 6px 17px;

    border-radius: 5px;
    color: #fff;
    background-color: #D65151;
    text-decoration: none;
    font-size: 14px;
}

.people__users-count {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -30px;
    margin-bottom: -10px;
}

.users-count__count {
    color: rgb(177, 176, 176);
}

/* Menu */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #F4F4F4;
    margin-bottom: 5px;
}

.navigation__menu {
    position: relative;
    margin-top: 25px;
    right: 10px;
}

.menu__link {
    color: rgb(177, 176, 176);
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    position: relative;
    margin: 10px;

}

.menu__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #D65151;
    border-radius: 2px;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opasity .1s linear;
}

.menu__link:hover:after {
    opacity: 1;
}




/*    Main CONTENT     */


.conteiner {
    display: flex;
    background-color: #F4F4F4;
}


/* Icon and Number data  */

.number__data {
    font-size: 13px;
    color: #A8A8A8;
}

.caption__text {
    margin-left: 15px;
}

/* Conteiner__need-do */

.wrapper-planning {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.need-do__planning {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planning__btn-planning {
    display: inline-block;
    vertical-align: top;
    padding: 6px 17px;

    border-radius: 5px;
    color: #739EB6;
    background-color: #BEE8FF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}


.inside__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}

.need-do__people {
    display: flex;
    align-items: center;

    position: relative;
    top: -15px;
}

.people__imageTwo {
    position: relative;
    left: -13px;
}

.people__imageThree {
    position: relative;
    left: -27px;
}

.people__imageFour {
    position: relative;
    left: -40px;
}

.people__count {
    position: relative;
    left: -30px;
}

.need-do__data {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: -18px;
}





/* conteiner__uxReview */

.conteiner__uxReview {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.uxReview__uxTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uxTitle__btn-ux {
    display: inline-block;
    vertical-align: top;
    padding: 6px 17px;

    border-radius: 5px;
    color: #A89A67;
    background-color: #FFF1BE;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}


.inside-1__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}

.people-2__imageTwo {
    margin-left: -17px;
}

.uxReview__data {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* conteiner__in-process */

.wrapper-process {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.design__btn-design {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 6px 17px;

    border-radius: 5px;
    color: #739EB6;
    background-color: #BEE8FF;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.in-process__design {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-3__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}


.people-3__imageFour {
    margin-left: -16px;
}

.in-process__data {
    display: flex;
    align-items: center;
    gap: 3px;
}


/*  conteiner__review  */

.wrapper-review {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.review__uxTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-4__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}

.review__people-4 {
    display: flex;
    align-items: center;

    position: relative;
    top: 5px;
}

.people-4__imageTwo {
    position: relative;
    left: -13px;
}

.people-4__imageThree {
    position: relative;
    left: -27px;
}

.people-4__imageFour {
    position: relative;
    left: -40px;
}

.people-4__count {
    position: relative;
    left: -30px;
}

.review__data {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 5px;
}


/*  conteiner__uiDesing  */

.conteiner__uiDesing {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.uiTitle__btn-ui {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 6px 17px;

    border-radius: 5px;
    color: #A89A67;
    background-color: #ffbecc;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.uiDesing__uiTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-5__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}

.uiDesing__people-5 {
    margin-top: 15px;
}

.people-5__imageThree {
    margin-left: -17px;
}

.uiDesing__data {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 5px;
}


/*  conteiner__uiOrder  */

.conteiner__uiOrder {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.uiOrder__uiTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-6__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}

.uiOrder__people-6 {
    display: flex;
    align-items: center;

    position: relative;
}

.people-6__imageTwo {
    position: relative;
    left: -13px;
}

.people-6__imageThree {
    position: relative;
    left: -27px;
}

.people-6__imageFour {
    position: relative;
    left: -40px;
}

.people-6__count {
    position: relative;
    left: -30px;
}

.uiOrder__data {
    display: flex;
    align-items: center;
    gap: 3px;
}



/*  conteiner__done  */

.wrapper-done {
    display: flex;
    flex-direction: column;
    max-width: 333px;
    max-height: 195px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    padding: 24px;
    border-radius: 7px;
}

.done__planning {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-7__text {
    font-style: normal;
    font-size: 19px;
    position: relative;
    color: #252525;
    font-style: 500px;
    margin-top: 6px;
}

.people-7__imageFour {
    margin-left: -17px;
}

.done__data {
    display: flex;
    align-items: center;
    gap: 3px;
}