.main {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 15px 0;
    width: 100%;
    height: 100%;
    min-width: 800px;

}

.header {
    width: 100%;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F4F4F4;
    padding-bottom: 10px;
}

.logo__title {
    position: relative;
    font-weight: bold;
    bottom: 7px;
    left: 5px;
}


.actions__notification {
    margin-right: 12px;
}


.actions__settings {
    margin-right: 13px;
}

.actions__icon-ellipse {
    position: relative;
    bottom: 15px;
    left: 10px;
}


/*search button*/

.header__search {
    border: 0.5px solid rgb(245, 242, 242);
    display: inline-flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(248, 246, 246);
}

.search__txt {
    border: none;
    width: 400px;
    height: 25px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    background-color: transparent;
}

.search__btn {
    border: none;
    background-color: transparent;
}

.search__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.content-title__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.wrapper-content {
    display: flex;
    justify-content: space-between;
}

.name__heading {
    display: flex;
    align-items: center;
    color: rgb(177, 176, 176);
    font-size: 18px;
    gap: 10px;
    margin-top: -20px;
}

.main-title {
    margin-top: -15px;
}

.do-lending {
    font-size: 46px;
}

.description {
    margin-top: 93px;
}

.text-description {
    color: rgb(177, 176, 176);
    font-size: 18px;
}

.main-content {
   width: 72%;
}

.aside {
    display: flex;
    justify-content: space-between;
    width: 28%;
    border-left: 3px solid #F4F4F4;;
}

/* table-task */

.table-task {
    margin-left: 24px;
    margin-top: 22px;
}

.table-task__label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.label-name {
    color: rgb(177, 176, 176);
}

.table-task__users {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.user-name {
    color: rgb(177, 176, 176);
}

.table-task__urgency {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 260px;
}

.urgency-name {
    color: rgb(177, 176, 176);
}

.table-task__date-create {
    display: flex;
    align-items: center;
    gap: 8px;
}

.date {
    color: rgb(177, 176, 176);
}

/* table-name */

.table-name {
    margin-right: 50px;
    margin-top: 33px;
}

.btn-planning {
    display: inline-block;
    vertical-align: top;
    padding: 6px 17px;
    pointer-events: none;

    border-radius: 5px;
    color: #739EB6;
    background-color: #BEE8FF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.table-name__users-name>p {
    font-size: 18px;
    font-weight:600;
    margin-top: 25px;
}

.table-name__high {
    margin-top: 148px;
}

.high-name {
    font-size: 18px;
    font-weight:600;
}
